mobile-api/.env
mobile-api/node_modules

error-handling/.env
error-handling/node_modules

Student-api/.env
Student-api/node_modules

User-api/.env
User-api/node_modules

Workouts-api/.env
Workouts-api/node_modules

Nodejs_API/.env
Nodejs_API/node_modules

NODE_API/node_modules
NODE_API/data/config.env

TODO-APP/.env
TODO-APP/node_modules